{% extends 'accounts/base.html' %}

{% block content %}
<div class="centered-container">
	<h2 style="text-align: center;">Student Registration</h2>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		<input type="submit" value="Submit">
	</form>
	<p>Already have an account? <a href="{% url 'user_login' %}">Login</a></p>
</div>
{% endblock %}
