{% extends "accounts/base.html" %}

{% block content %}
    <h2>Login</h2>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post" action="{% url 'user_login' %}">
        {% csrf_token %}
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="">Login</button>
        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </form>
{% endblock %}